.mypink {
    color: #f43172
}

.myorange {
    color: #ff7f00;
}

.myblue {
    color: #29a5d6;
}

body {
    position: relative;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #333;
    transition-duration: .2s;
}

body.fadein {
    z-index: 99999;
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

h3 {
    color: #333;
    font-size: 62px;
    padding: 100px 0 50px 0;
}

.fadein {
    position: relative;
    z-index: 9999;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.btn_box a {
    position: relative;
    z-index: 1;
    display: block;
    margin-right: 30px;
    background-color: #d9d9d9;
    color: #333;
    max-width: 170px;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 3;
    transition-duration: .3s;
}

.btn:hover {
    background-color: #4aa8d8;
    color: #f2f2f2;
}

/* ------------------------------------@keyframes 시작 */
@keyframes rotate_img {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hand {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes yellow_light {

    0%,
    25%,
    50%,
    75%,
    100% {
        opacity: 1;
    }

    12.5%,
    37.5%,
    67.5%,
    87.5% {
        opacity: 0;
    }
}

@keyframes light {

    0%,
    25%,
    50%,
    75%,
    100% {
        opacity: 0;
    }

    12.5%,
    37.5%,
    67.5%,
    87.5% {
        opacity: 1;
    }
}

@keyframes click {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* ------------------------------------#header 시작 */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 9999;
}

#header .flex div:first-child,
#header .flex div:last-child {
    padding: 0 30px;
    cursor: pointer;
}

/* 로고 이미지 div와 미모티콘 div */

#header .flex div:first-child img {
    max-width: 130px;
    width: 100%;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#header .flex.gnb a {
    display: block;
    margin: auto 30px;
    font-size: 22px;
    font-weight: 300;
    color: #333;
}

#header .flex.gnb a:hover {
    color: #4aa8d8;
}

/* 스크롤 내려간 이후, */
.haeder_shadow {
    transition-duration: .3s;
}

#header.haeder_shadow.active .flex {
    height: 100%;
}

#header.haeder_shadow.active {
    box-shadow: 0 5px 10px #bbb;
    transform: scale(1.005);
    background: rgba(0, 0, 0, 0.8);
    height: 110px;
}

#header.haeder_shadow.active .flex.gnb a {
    color: #fff;
    margin: auto 30px;
    font-weight: 500;
    transition-duration: .3s;
}

#header.haeder_shadow.active .flex.gnb a:hover {
    color: #29a5d6;
    transform: rotate(-10deg);
}

#header .QR {
    /* position: relative; */
    max-width: 230px;
    width: 100%;
    height: 100px;
}

#header .QR img {
    max-width: 60px;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

/* #header .flex div:last-child:hover 했을 때, 문서 전체에 백그라운드가 적용되어야 함. */

#QR_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#QR_popup img {
    width: 0px;
    height: 0px;
    opacity: 0;
    display: block;
    margin: 0 auto;
    transition-duration: .2s;
}

#QR_popup img.active {
    width: 90%;
    height: 90%;
    opacity: 1;
}

body #background_wrap.active {
    width: 100vw;
    height: 100vh;
    background: #aaa;
    opacity: .7;
    position: fixed;
    z-index: 999;
}


/* ------------------------------------#snb 시작 */

#snb .object_wrap {
    position: fixed;
    bottom: 10%;
    right: 5%;
    cursor: pointer;
    width: 180px;
    height: 180px;
    z-index: 9;
    transition-duration: .3s;
}

#snb .object_wrap .click_me {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -60px;
    background-image: url(../image/click_me.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: left 70px;
    animation: click 2s linear infinite;
}

#snb .object_wrap .obj {
    position: absolute;
    top: 0;
    right: 0;
}

#snb .object_wrap .light {
    background-image: url(../image/light.png);
    background-repeat: no-repeat;
    top: 2%;
    left: 70%;
    transform: translateX(-10%);
    transform: rotate(30deg);
    width: 32px;
    height: 47px;
    animation: light 14s linear infinite;
}

#snb .object_wrap .yellow_light {
    background-image: url(../image/yellow_light.png);
    background-repeat: no-repeat;
    top: 2%;
    left: 70%;
    transform: translateX(-10%);
    transform: rotate(30deg);
    width: 32px;
    height: 47px;
    animation: yellow_light 14s linear infinite;
}

#snb .object_wrap .face {
    background-image: url(../image/face.png);
    top: 25%;
    left: 35%;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

#snb .object_wrap .hand {
    background-image: url(../image/hand.png);
    background-repeat: no-repeat;
    top: 65%;
    left: 15%;
    width: 59px;
    height: 65px;
    animation: hand 4s linear infinite;
}



/* ------------------------------------#sec_introduce 시작 */
#sec_introduce {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 9999;
    transition-duration: .3s;
}

#sec_introduce.active {
    /* position: fixed; */
    top: 0;
    right: 0%;
}

#sec_introduce h3 {
    color: #f2f2f2;
    text-align: center;
}

#sec_introduce .X_wrap {
    position: fixed;
    top: 50px;
    right: -100%;
    width: 80px;
    height: 80px;
    transition-duration: .3s;
}

#sec_introduce.active .X_wrap {
    right: 50px;
}

#sec_introduce .X_wrap span {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(-20%, -50%);
    display: block;
    width: 50px;
    height: 2px;
    background-color: #f2f2f2;
    transition-duration: .2s;
}

#sec_introduce .X_wrap span:first-child {
    transform: rotate(45deg);
    transform-origin: 50%, 50%;
    transition-duration: .2s;
}

#sec_introduce .X_wrap span:nth-child(2) {
    transform: rotate(-45deg);
    transform-origin: 50%, 50%;
    transition-duration: .2s;
}

#sec_introduce .X_wrap span:nth-child(3) {
    width: 0;
}

#sec_introduce .X_wrap:hover span {
    background-color: red;

}

#sec_introduce .X_wrap:hover {
    transform: rotate(360deg);
}

#sec_introduce .X_wrap:hover span:first-child {
    transform: rotate(45deg);
    transform-origin: center right;
    width: 30px;
    height: 3px;
    transition-delay: .2s;
}

#sec_introduce .X_wrap:hover span:nth-child(2) {
    transform: rotate(0deg);
    height: 3px;
    transition-delay: .2s;
}

#sec_introduce .X_wrap:hover span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: center right;
    width: 30px;
    height: 3px;
    transition-delay: .2s;
}


/* ------------------------------------#sec_intro 시작 */

#sec_intro {
    position: relative;
    top: 120px;
    max-height: 100%;
    height: 1080px;
}

#sec_intro .flex {
    justify-content: center;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

#sec_intro h1 {
    font-size: 0;
    /* 검색 시, 웹 브라우저는 h1태그를 찾아서 검색하여 사용자에게 보여줌. 포트폴리오 키워드를 컴퓨터에게만 인지시키기 위해 font-size = 0 으로 적용 */
}

#sec_intro .flex .textBox h5 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

#sec_intro .flex .textBox {
    width: 50%;
    margin: auto;
}

#sec_intro .flex .textBox > div {
    margin: 100px 0 30px 0;
}

#sec_intro .imgBox {
    width: 50%;
}

#sec_intro img {
    display: block;
    margin: 0 auto;
}

#sec_intro .textBox p {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 50px;
}
#sec_intro .textBox p strong {
    text-align: center;
    font-size: 30px;
}
#sec_intro .textBox p:nth-of-type(2) {
    font-size: 14px;
    font-weight: bold;
}

#sec_intro .textBox .website_info {
    background-color: #000;
    color: #f2f2f2;
    border-radius: 20px;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 2.5;
    box-shadow: 1px 3px 3px #333;
}

#sec_intro .skill_container .flex:first-child li {
    margin-bottom: 10px;
}
#sec_intro .skill_container .flex li{
    margin: 0 15px;
    font-size: 12px;
}

#sec_intro .flex .imgBox .rotate_img {
    animation: rotate_img 17s linear infinite;
    position: absolute;
    top: -8%;
    left: 37%;
    z-index: -1;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}

#sec_intro .skill_container .flex li {
    padding: 3px 14px;
    border-radius: 20px;
    line-height: 3;
    /* color: #fff; */
    background-color :#f1f3f5;
    color: #000;
    box-shadow: 3px 4px 3px #868e96;
}
/* #sec_intro .html5 {
    
}
#sec_intro .css3 {
    background-color :#4aa8d8;
}
#sec_intro .js {
    background-color :#f43172;
}
#sec_intro .jq {
    background-color :black;
}
#sec_intro .ph {
    background-color :darkblue;
}
#sec_intro .il {
    background-color :brown;
}
#sec_intro .fi {
    background-color :green;
} */
/* ------------------------------------#project 시작 */
#project {
    position: relative;
    background-color: #f8f9fa;
    color: #333;
}

#project .flex.title {
    flex-direction: row;
    justify-content: flex-start;
}

#project h3 {
    position: relative;
    font-size: 62px;
    margin-left: 100px;
}

#project .inner.flex {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    flex-wrap: nowrap;
}

#project .bg_img_wrap {
    width: 50%;
    height: 100%;
    position: relative;
    left: 52%;
    transform: translateX(-50%);
    margin: 0 auto;
}

#project .flex .card_wrap {
    max-width: 100%;
    max-height: 100%;
    width: 2000px;
    height: 100vh;
    position: relative;
}

#project .flex .card_wrap:first-child {
    position: relative;
    overflow: hidden;
}

/* #project에서 a태그 공통 속성 */
#project .card_wrap a {
    position: absolute;
    z-index: 1;
    display: block;
    transform: translateX(-50%);
    color: #fff;
    background: none;
    padding: 5px 10px;
    transition-duration: .5s;
    opacity: 0;
}

#project .card_wrap:nth-of-type(2) a {
    color: #000;
}

/* .card_wrap에 hover시 a태그 효과 */
#project .card_wrap a:hover {
    background: #29a5d6;
}

#project .card_wrap:hover a {
    opacity: 1;
}

#project .card_wrap a:nth-of-type(1) {
    bottom: 45.5%;
    left: 55%;
}

#project .card_wrap a:nth-of-type(2) {
    bottom: 37.5%;
    left: 55%;
}

#project .card_wrap:nth-of-type(3) a{
    color: #000;
}
#project .card_wrap:nth-of-type(3) a:hover {
    background: #000;
    color: #fff;
}

/* 화살표 애니메이션 */
#project .flex .card_wrap .arrow {
    position: absolute;
    bottom: 45%;
    left: 35%;
    transform: translateX(-35%);
    width: 60px;
    height: 60px;
    margin: auto;
    z-index: 1;
}

#project .flex .card_wrap .arrow2 {
    position: absolute;
    bottom: 37%;
    left: 35%;
    transform: translateX(-35%);
    width: 60px;
    height: 60px;
    margin: auto;
    z-index: 1;
}

#project .flex .card_wrap .arrow span::after {
    content: '';
    width: 0px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: .5s;
}

#project .flex .card_wrap .arrow2 span::after {
    content: '';
    width: 0px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    transition-duration: .5s;
}

#project .flex .card_wrap:nth-child(3) .arrow span::after {
    background-color: #000;
}

#project .flex .card_wrap:nth-child(3) .arrow2 span::after {
    background-color: #000;
}

#project .flex .card_wrap .arrow span:nth-child(1)::after {
    position: absolute;
    top: 0%;
    left: 0;
}

#project .flex .card_wrap .arrow2 span:nth-child(1)::after {
    position: absolute;
    top: 0%;
    left: 0;
}

#project .flex .card_wrap .arrow span:nth-child(3)::after {
    position: absolute;
    top: 0;
    left: 0;
}
#project .flex .card_wrap .arrow2 span:nth-child(3)::after {
    position: absolute;
    top: 0;
    left: 0;
}

#project .flex .card_wrap .arrow span:nth-child(3)::after {
    position: absolute;
    top: 0%;
    left: 0;
}
#project .flex .card_wrap .arrow2 span:nth-child(3)::after {
    position: absolute;
    top: 0%;
    left: 0;
}

/* arrow hover시, 효과 */
#project .flex .card_wrap:hover .arrow span:nth-child(1)::after {
    transform: rotate(405deg);
    top: 41%;
    left: 65%;
    width: 18px;
}

#project .flex .card_wrap:hover .arrow2 span:nth-child(1)::after {
    transform: rotate(405deg);
    top: 41%;
    left: 65%;
    width: 18px;
}

#project .flex .card_wrap:hover .arrow span:nth-child(2)::after {
    transform: rotate(360deg);
    top: 50%;
    left: 20%;
    width: 42px;
}

#project .flex .card_wrap:hover .arrow2 span:nth-child(2)::after {
    transform: rotate(360deg);
    top: 50%;
    left: 20%;
    width: 42px;
}

#project .flex .card_wrap:hover .arrow span:nth-child(3)::after {
    transform: rotate(-405deg);
    top: 59%;
    left: 65%;
    width: 18px;
}

#project .flex .card_wrap:hover .arrow2 span:nth-child(3)::after {
    transform: rotate(-405deg);
    top: 59%;
    left: 65%;
    width: 18px;
}
/* 3번째 card_wrap arrow 관련 css */
#project .flex .card_wrap:nth-of-type(3) .arrow span:nth-child(1)::after {
    transform: rotate(-45deg);
    left: 11%;
}
#project .flex .card_wrap:nth-of-type(3) .arrow span:nth-child(3)::after {
    transform: rotate(45deg);
    left: 11%;
}
#project .flex .card_wrap:nth-of-type(3) .arrow2 span:nth-child(1)::after {
    transform: rotate(-45deg);
    left: 11%;
}
#project .flex .card_wrap:nth-of-type(3) .arrow2 span:nth-child(3)::after {
    transform: rotate(45deg);
    left: 11%;
}

/* 시드물 인트로 */
#project .flex .card_wrap:first-child .img_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/project_sid.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: .5s;
    z-index: 1;
    filter: brightness(.7);
}

#project .flex .card_wrap:first-child .mockup_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    background-image: url(../image/thum_sid.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 1;
    transition-duration: .5s;
    /* transition-delay: 1s; */
}

#project .flex .card_wrap:first-child p,
#project .flex .card_wrap:nth-child(3) p {
    color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.625rem;
    font-family: 'Bing';
    opacity: 0;
    transition-duration: .5s;
    z-index: 1;
    margin-bottom: 20px;
}

#project .flex .card_wrap .text_wrap {
    transition-delay: .5s;
}

#project .flex .card_wrap:first-child:hover .img_box {
    transform: scale(1.02);
    filter: brightness(1);
}
#project .flex .card_wrap:first-child:hover .mockup_img {
    opacity: 0;
}

#project .flex .card_wrap:first-child:hover p {
    opacity: 1;
}

#project .flex .card_wrap:nth-child(3) {
    position: relative;
    overflow: hidden;
}

#project .flex .card_wrap:nth-child(3):hover {
    z-index: 2;
}

#project .flex .card_wrap:nth-child(3) .img_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/project_from.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: .5s;
    filter: brightness(.7);
}
#project .flex .card_wrap:nth-child(3) .mockup_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    background-image: url(../image/thum_from.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: 1;
    transition-duration: .5s;
}


#project .flex .card_wrap:nth-child(3) p {
    color: #000;
}

#project .flex .card_wrap:nth-child(3):hover .img_box {
    transform: scale(1.02);
    filter: brightness(1);
}
#project .flex .card_wrap:nth-child(3):hover .mockup_img {
    opacity: 0;
    z-index: 0;
}

#project .flex .card_wrap:nth-child(3):hover p {
    opacity: 1;
}

#project .flex .card_wrap:nth-child(2) {
    background-color: pink;
}


/* 프로젝트 :hover시에 나오는 시드물 상세 페이지 */
#project #sidmool {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 259px;
    left: -100%;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

#project #sidmool.on {
    background: rgba(0, 0, 0, 0.7);
    top: 259px;
    left: 0%;
}

#project #sidmool>.flex {
    flex-direction: column;
}

#project #sidmool .bg_mac {
    background-image: url(../image/Sid_pc.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 500px;
    position: relative;
}

#project #sidmool .bg_tablet {
    background-image: url(../image/Sid_ipad.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    bottom: -7%;
    left: 9%;
}

#project #sidmool .bg_mobile {
    background-image: url(../image/Sid_iphone.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 34%;
    left: -22%;
}

/* 시드물 이미지 끝 */

#project #fromtome {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 259px;
    right: -100%;
    z-index: -1;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

#project #fromtome.on {
    background: rgba(0, 0, 0, 0.7);
    top: 259px;
    right: 33.33%;
    z-index: 1;
}

#project #fromtome>.flex {
    flex-direction: column;
}

#project #fromtome .bg_mac {
    background-image: url(../image/From_pc.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 500px;
    position: relative;
}
/* 프롬투미 이미지 끝 */

#project .text_box h4 {
    position: relative;
    top: 0;
    left: 0;
    color: #f2f2f2;
    font-size: 48px;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    font-family: "Bing";
}

#project .text_box h4::before {
    position: absolute;
    top: -80%;
    right: 43%;
    z-index: -1;
    font-size: 16rem;
    color: #dee2e6;
    opacity: .8;
}

#project #sidmool .text_box,
#project #fromtome .text_box {
    position: relative;
    top: 0;
    left: 75%;
    transform: translateX(-50%);
    color: #f2f2f2;
}

#project #sidmool .text_box .period,
#project #fromtome .text_box .period {
    margin-bottom: 25px;
    text-align: center;
}

#project #sidmool .text_box .period p,
#project #fromtome .text_box .period p {
    font-size: 12px;
}

#project #sidmool .text_box .explain,
#project #fromtome .text_box .explain {
    text-align: center;
    margin-bottom: 20px;
}
#project #sidmool .text_box .explain,
#project #fromtome .text_box .explain {
    font-size: 16px;
}

#project #sidmool .text_box .skill.flex,
#project #fromtome .text_box .skill.flex {
    margin-bottom: 45px;
}
#project #sidmool .text_box .skill.flex p,
#project #fromtome .text_box .skill.flex p {
    font-size: 12px;
}

#project .text_box .info.flex,
#project .text_box .skill.flex {
    text-align: center;
    justify-content: center;
}

#project .text_box .info.flex p,
#project .text_box .skill.flex p {
    margin-right: 15px;
    font-size: 12px;
}

#project .text_box .btn_box.flex {
    justify-content: flex-start;
}

/* ------------------------------------#sec_web 시작 */
#sec_web {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    color: #333;
    padding-bottom: 150px;
    overflow: hidden;
}

#sec_web .flex.title {
    flex-direction: row;
    justify-content: flex-start;
}

#sec_web h3 {
    position: relative;
    font-size: 62px;
}

#sec_web .title .flex .wrap {
    width: 24%;
    height: 300px;
}

#sec_web .title .flex .wrap {
    z-index: 1;
    transition-duration: .5s;
    overflow: hidden;
    position: relative;
}

#sec_web .title .flex .wrap .img_con{
    transition-duration: .5s;
}

#sec_web .title .flex .wrap:nth-of-type(1) .img_con {
    width: 100%;
    height: 100%;
    background-image: url(../image/Ahn_PC.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sec_web .title .flex .wrap:nth-of-type(2) .img_con {
    width: 100%;
    height: 100%;
    background-image: url(../image/Natour_PC.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sec_web .title .flex .wrap:nth-of-type(3) .img_con {
    width: 100%;
    height: 100%;
    background-image: url(../image/Han_PC.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sec_web .title .flex .wrap:nth-of-type(4) .img_con {
    width: 100%;
    height: 100%;
    background-image: url(../image/LGU+.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sec_web .title .flex .wrap .text {
    position: absolute;
    bottom: -100%;
    left: 0;
    background:rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    transition-duration: .5s;
}
/* #sec_web .title .flex .wrap .text 호버 효과 */
#sec_web .title .flex .wrap:hover .text {
    bottom: -25%;
}

#sec_web .title .flex .wrap .text a {
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    transition-duration: .3s;
}
#sec_web .title .flex .wrap .text a:hover {
    background-color: #29a5d6;
    color: #fff;
}

#sec_web .title .flex .wrap .title {
    margin: 15px 0 20px 0;
    font-size: 22px;
}
#sec_web .title .flex .wrap .text p:nth-of-type(2),
#sec_web .title .flex .wrap .text p:nth-of-type(3) {
    font-size: 14px;
}
#sec_web .title .flex .wrap .text p:nth-of-type(3) {
    margin-bottom: 20px;
}
#sec_web .title .flex .wrap .text .flex {
    justify-content: center;
}
#sec_web .title .flex .wrap .text .flex li {
    margin: 0 10px;
    font-size: 12px;
    margin-bottom: 15px;
}

#sec_web .title .flex .btn_box {
    position: absolute;
    bottom: 0;
    left: 0;
}



#sec_web .text_box h4::before {
    position: absolute;
    top: -50%;
    right: 20%;
    z-index: -1;
    font-size: 16rem;
    color: #dee2e6;
    opacity: .8;
}

#sec_web::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10%;
    width: 800px;
    height: 800px;
    background-color:#f5b3c9 ;
    opacity: .3;
    border-radius: 50%;
    z-index: 0;
}

/* ------------------------------------#sec_design 시작 */
#sec_design {
    height: 100%;
    padding-bottom: 40px;
    background-color: #f1f3f5;
}

#sec_design h6+p {
    font-size: .875rem;
    margin-bottom: 10px;
}

#sec_design .inner>.flex {
    justify-content: flex-start;
}

#sec_design .emo {
    background-image: url(../image/emo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin-left: 30px;
    position: relative;
    top: 80px;
    left: 0%;
}

#sec_design img {
    max-width: 1440px;
    width: 100%;
    margin-bottom: 3.125rem;
}

#sec_design .btn_box a {
    margin: 0 auto;
}

/* ------------------------------------#sec_banner 시작 */

#sec_banner {
    background-color: #e9ecef;
    padding-bottom: 100px
}

#sec_banner .inner>.flex {
    justify-content: flex-start;
    flex-direction: row;
}

#sec_banner .emo {
    background-image: url(../image/ad.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    margin-left: 30px;
    position: relative;
    top: 110px;
    left: 0%;
}

#sec_banner .inner .flex:nth-of-type(2) {
    flex-direction: column;
}

#sec_banner img {
    max-width: 1440px;
    width: 100%;
}

#sec_banner .flex .top {
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
    text-align: justify;
    /* text-align : justify >> 양쪽 정렬*/
}

#sec_banner .flex .top:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
}

/* #sec_banner .flex .top / #sec_banner .flex .top:after 얘네 속성이 각 상자를 flex가 아닌 text-align으로 양쪽 정렬 진행한 것.*/

#sec_banner .flex .top img {
    width: 48%;
    /* max-width: 475px; */
    max-height: 1080px;
    display: inline-block;
}

#sec_banner .flex .bot img:first-child {
    width: 31%;
    max-height: 362px;
}

#sec_banner .flex .bot img:nth-child(2) {
    width: 68%;
}

/* ------------------------------------#footer 시작 */
#footer_container {
    background-color: #dee2e6;
}

#footer_container .inner .flex:first-child {
    justify-content: flex-start;
}

#footer_container .emo {
    background-image: url(../image/web.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin-left: 10px;
    position: relative;
    top: 90px;
    left: 0%;
}

#footer_container .inner > p {
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px
}

#footer_container .flex.standard {
    justify-content: center;
}

#footer_container .flex p:nth-child(2) {
    margin-left: 50px;
    margin-bottom: 100px;
}
